<template>
    <div class="container">
        <br />
        <div class="row">
            <div class="title-section">
                <h1>Ubiq - Smart contracts for an automated world</h1>
                <p>Ubiq is a decentralized platform which allows the creation and implementation of smart contracts and decentralized applications. Built upon an improved Ethereum codebase, the Ubiq blockchain acts as a large globally distributed ledger and supercomputer, allowing developers to create decentralized and automated solutions to thousands of tasks which today are carried out by third party intermediaries. </p>
            </div>
        </div>
        <hr />
        <br />
        <div class="about-box hidden-xs">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="about-post">
                        <a href="#" data-link="1" class="active"><i class="fa fa-desktop" style="font-size: 48px;"></i></a>
                        <h4>DESKTOP</h4>
                        <p>Full desktop wallet for UBQ and Ubiq based tokens. </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="about-post">
                        <a href="#" data-link="2"><i class="fa fa-globe" style="font-size: 48px;"></i></a>
                        <h4>BROWSER</h4>
                        <p>Browser based, client-side wallet for UBQ and Ubiq based tokens. </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="about-post">
                        <a href="#" data-link="3"><i class="fa fa-gears" style="font-size: 48px;"></i></a>
                        <h4>HARDWARE</h4>
                        <p>Secure your funds offline with a dedicated hardware wallet.  </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="about-post">
                        <a href="#" data-link="4"><i class="fa fa-code" style="font-size: 48px;"></i></a>
                        <h4>SERVER/CONSOLE</h4>
                        <p>Go-ubiq (Gubiq) is the official golang implementation of the Ubiq protocol. </p>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</template>